/* blue - #0946e9;
pink - #e909b6;
green - #09e93c;
yellow - #e9ac09;
light gray - #F1F4FA
*/
:root {
  --font-color: #424242;
  --bg-color: #f1f4fa;
}

[data-theme="dark"] {
  --font-color: #e1e1ff;
  --bg-color: #161625;
}
/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 20px 0 0;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #e909b6;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #e9ac09;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.hide {
  display: none !important;
}

.s-1 {
  flex: 1;
}

.align-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* containers */
.instructions,
.game,
.game-over {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* instructions */

.instructions {
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

h1,
p {
  margin: 20px;
}

p {
  padding-bottom: 10px;
  border-bottom: #e909b6 solid 2px;
  font-weight: 200;
  color: var(--font-color);
  line-height: 1.4;
}

h1 {
  font-size: 70px;
  font-weight: 100;
}

.find-the-pic {
  justify-content: flex-start !important;
  text-align: justify;
}

.start-button a {
  text-decoration: none;
  font-weight: 200;
  color: white;
  background-color: #e9ac09;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  align-content: flex-start;
  width: 300px;
}

/* game */

.game {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: center;
}

.game header {
  justify-content: center;
  flex-direction: column;
}

.quit a,
.time,
.score {
  color: white;
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 200;
  width: 100px;
}

.quit {
  display: flex;
}

.quit a {
  background-color: #0946e9;
}

.time {
  background-color: #e9ac09;
  margin-bottom: 20px;
}

.score {
  background-color: #159034;
  margin-bottom: 20px;
}

.game .board {
  align-content: center;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border-radius: 50%;
  align-self: center;
  flex: 2;
}

.board-item {
  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
}

.board-item + .board-item {
  margin: 5px;
}

.word-cont {
  flex-direction: column;
}

.word {
  background-color: #e909b6;
  padding: 20px;
  color: white;
  border-radius: 30px;
  font-weight: 200;
  text-transform: capitalize;
  width: 150px;
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background-color: #0946e9;
  color: white;
  padding: 20px;
  border-radius: 30px;
  width: 150px;
  font-size: 1rem;
  font-weight: 200;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
}

.langWrap {
  display: none;
  position: absolute;
  width: 150px;
  z-index: 1;
}
.langWrap a {
  display: block;
  color: white;
  margin: 10px 0;
  text-decoration: none;
  font-weight: 200;
  background-color: #e909b6;
  padding: 10px;
  border-radius: 30px;
  width: 130px;
}

.langWrap a:hover {
  background-color: #159034;
}

.dropdown:hover .langWrap {
  display: block;
}

.dropdown:hover .dropdown button {
  background-color: #3e8e41;
}

/* game over */

.game-over {
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.scores {
  flex-direction: column;
}

.total-score {
  font-size: 100px;
  font-weight: 200;
  color: #159034;
}

.high-score {
  margin-top: 20px;
  font-weight: 200;
}

.over-footer {
  flex-direction: column;
}

.play-again {
  background-color: #e9ac09;
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-weight: 200;
  margin-bottom: 20px;
  width: 300px;
}

.home {
  background-color: #e909b6;
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-weight: 200;
  width: 200px;
}

/* DOM */

.blue {
  color: #0946e9;
}

.pink {
  color: #e909b6;
}

.green {
  color: #159034;
}

.yellow {
  color: #e9ac09;
}

.xs {
  font-size: 1.5rem;
  margin: 25px;
}
.small {
  font-size: 2rem;
  margin: 20px;
}

.mid {
  font-size: 2.5rem;
  margin: 15px;
}

.big {
  font-size: 2.8rem;
  margin: 10px;
}

.xl {
  font-size: 3rem;
  margin: 5px;
}

.rotate-20 {
  transform: rotate(20deg);
}

.rotate-40 {
  transform: rotate(40deg);
}

.rotate-60 {
  transform: rotate(60deg);
}

.rotate-80 {
  transform: rotate(80deg);
}

.rotate-100 {
  transform: rotate(100deg);
}

.rotate-120 {
  transform: rotate(120deg);
}

.rotate-140 {
  transform: rotate(140deg);
}
.rotate-160 {
  transform: rotate(160deg);
}

.rotate-240 {
  transform: rotate(240deg);
}

.rotate-260 {
  transform: rotate(260deg);
}

.rotate-280 {
  transform: rotate(280deg);
}

.blink-text-green {
  animation: blinkingTextG 1s;
}
.blink-text-red {
  animation: blinkingTextR 1s;
}
@keyframes blinkingTextG {
  0% {
    color: #10c018;
  }
}

@keyframes blinkingTextR {
  0% {
    color: #ef0a1a;
  }
}

@media only screen and (max-width: 600px) {
  html,
  body {
    overflow: scroll;
  }
  .intro {
    display: flex;
    flex-wrap: wrap;
  }
  .theme-switch-wrapper {
    height: 130px;
  }
  .start-button {
    align-content: flex-start;
  }

  .game header {
    flex-flow: row;
    width: 100vw;
    align-items: flex-end;
  }

  .quit {
    margin-bottom: 20px;
  }

  .game .board {
    display: flex;
    flex: auto;
    align-self: flex-start;
    align-content: space-between;
    height: 400px;
  }
  .board-item + .board-item {
    margin: 0;
  }
  .word-cont {
    flex-flow: row;
    align-items: baseline;
  }

  .word {
    margin-bottom: 0;
  }
  .dropdown {
    display: flex;
    align-items: center;
  }

  .langWrap {
    background-color: #e909b6;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .langWrap a {
    margin: auto;
  }
  .xs {
    font-size: 1.2rem;
    margin: 25px;
  }
  .small {
    font-size: 1.4rem;
    margin: 20px;
  }

  .mid {
    font-size: 1.7rem;
    margin: 15px;
  }

  .big {
    font-size: 2rem;
    margin: 10px;
  }

  .xl {
    font-size: 2.5rem;
    margin: 5px;
  }
}
