html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.hide {
  display: none !important;
}

/* containers */
.instructions,
.game,
.game-over {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* instructions */

.instructions {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: center;
}

.align-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.s-1 {
  flex: 1;
}

.s-4 {
  flex: 4;
}

/* game */

.game {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: center;
}

.game header {
  justify-content: space-between;
}

.game .board {
  padding: 1rem;
  align-content: center;
  width: 50%;
  margin: 0 auto;
}

.board-item {
  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
}

/* game over */

.game-over {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: center;
}
